ul li a {
    padding: 5px 13px 5px 13px;
    border: 1px solid transparent;
    font-size: 15px;
    /* /* border-radius: 20px; */
}

ul li .active {
    border: 1px solid #3b5558;
    border-radius: 20px;
}

ul li a:hover {
    /* //padding: 5px 13px 5px 13px; */
    border: 1px solid #3b5558;
    border-radius: 20px;
}

img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}